USE [master]
GO
/****** Object:  Database [NoteDB]    Script Date: 14-09-2022 18:30:07 ******/
CREATE DATABASE [NoteDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'NoteDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\NoteDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'NoteDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\NoteDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [NoteDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [NoteDB]
GO
/****** Object:  Table [dbo].[Note]    Script Date: 14-09-2022 18:30:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Note](
	[Userid] [int] NULL,
	[NoteDetails] [varchar](50) NULL,
	[NoteType] [varchar](50) NULL,
	[CreatedOn] [varchar](50) NULL
) ON [PRIMARY]
GO
INSERT [dbo].[Note] ([Userid], [NoteDetails], [NoteType], [CreatedOn]) VALUES (1, N'Onkar', N'urgent', N'11/11/11')
INSERT [dbo].[Note] ([Userid], [NoteDetails], [NoteType], [CreatedOn]) VALUES (2, N'Onkar', N'urgent', N'11/11/11')
INSERT [dbo].[Note] ([Userid], [NoteDetails], [NoteType], [CreatedOn]) VALUES (3, N'Onkar', N'urgergbrtnt', N'11/11/11')
GO
/****** Object:  StoredProcedure [dbo].[Sp_Note]    Script Date: 14-09-2022 18:30:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[Sp_Note]

@Userid varchar(50), 
@NoteDetails varchar(50),
@NoteType varchar(50),
@CreatedOn varchar(50),
@OperationType int
AS
BEGIN TRAN
IF(@OperationType=1)
BEGIN 
SET @Userid =(SELECT COUNT(*) FROM Note)+1

INSERt INTO Note (Userid,NoteDetails,NoteType,CreatedOn)
VALUES(@Userid,@NoteDetails,@NoteType,@CreatedOn)

SELECT * FROM Note WHERE Userid=Userid

END
ELSE IF (@OperationType=2)
BEGIN 
IF(@Userid=0)
BEGIN 
ROLLBACK
RAISERROR (N'Invalid Note !!!~',16,1);
RETURN
END

UPDATE Note SET [NoteDetails] =@NoteDetails,NoteType=@NoteType WHERE Userid=@Userid


SELECT * FROM NoteDetails WHERE Userid=@Userid
END

ELSE IF(@OperationType =3)
BEGIN 
IF(@Userid=0)
BEGIN 
ROLLBACK 
RAISERROR(N'Invalid Note !!!~',16,1);
RETURN 
END

DELETE FROM NoteDetails WHERE Userid=@Userid
END
COMMIT TRAN
GO
USE [master]
GO
